.squadra .left img{padding:10px; background-color:#5e121c;}
.squadra .titolo{background:transparent url(/images/titoli/squadra.png) no-repeat scroll 30px 0; height:45px; margin-top:10px;}
.squadra .titolo img{padding:0;background:none; margin-top:3px;}

