<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="TinyMCE" type="Moxiecode.TinyMCE.ConfigHandler,Moxiecode.TinyMCE" requirePermission="false"/>
	</configSections>
	<TinyMCE installPath="/js/tinymce/jscripts/tiny_mce" mode="src">
		<!-- Default settings for all TinyMCE instances -->
		<globalSettings>
			<add key="relative_urls" value="false"/>
		</globalSettings>
		<!-- Compressor specific settings -->
		<gzipCompressor enabled="no" diskCache="no" cachePath="c:\temp" expiresOffset="10d"/>
	</TinyMCE>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="8192" />
    <customErrors mode="Off"/>
	</system.web>
	<appSettings>
		<!--<add key="provider" value="Provider=Microsoft.Jet.OLEDB.4.0; Persist Security Info=False;"/>-->
		<!--<add key="pathdbaccess" value="~/mdb-database/Mercenari2010.mdb"/>-->
		<!--<add key="connString" value="Server=LI-386;Database=DBTestPifferi;User Id=sa;Password=Temporary01;" />-->
    <!--<add key="connString" value="Server=ALESSIO-PC;Database=pifferietamburi;User Id=sa;Password=alessio;" />-->
		<add key="connString" value="Server=egi5vs0jnj.database.windows.net; Database=pifferietamburi; User Id=pifferietamburi; Password=Ivrea2014;" />
    <!--<add key="connString" value="Server=62.149.153.39;Database=MSSql75867;User Id=MSSql75867;Password=56a8b489;" />-->
    <add key="connDbPath" value="~/mdb-database/Mercenari.sqlite" />
    <add key="connType" value="SqlServer" />
		<add key="imgwidth" value="80"/>
		<add key="thumbheight" value="150"/>
		<add key="thumbwidth" value="150"/>
		<add key="pathsalvataggiofoto" value="~/public/img/"/>
		<add key="countphoto" value="24"/>
    <add key="countnews" value="10"/>
	</appSettings>
</configuration>
