<?xml version="1.0"?>
<!-- 
    Nota: come alternativa alla modifica manuale del file, è possibile utilizzare lo 
    strumento di amministrazione Web per configurare le impostazioni dell'applicazione. Utilizzare il comando 
    Configurazione ASP.NET del menu Sito Web di Visual Studio.
    Un elenco completo di impostazioni e commenti è disponibile nel file 
    machine.config.comments che si trova in genere in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="TinyMCE" type="Moxiecode.TinyMCE.ConfigHandler,Moxiecode.TinyMCE" requirePermission="false"/>
	</configSections>
	<TinyMCE installPath="/js/tinymce/jscripts/tiny_mce" mode="src">
		<!-- Default settings for all TinyMCE instances -->
		<globalSettings>
			<add key="relative_urls" value="false"/>
		</globalSettings>
		<!-- Compressor specific settings -->
		<gzipCompressor enabled="no" diskCache="no" cachePath="c:\temp" expiresOffset="10d"/>
	</TinyMCE>
	<appSettings>
		<add key="provider" value="Provider=Microsoft.Jet.OLEDB.4.0; Persist Security Info=False;"/>
		<add key="pathdbaccess" value="~/mdb-database/Mercenari2010.mdb"/>
		<add key="imgwidth" value="80"/>
		<add key="thumbheight" value="150"/>
		<add key="thumbwidth" value="150"/>
		<add key="pathsalvataggiofoto" value="~/public/img/"/>
		<add key="countphoto" value="24"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Impostare compilation debug="true" per inserire i 
            simboli di debug nella pagina compilata. Poiché tale
            operazione ha effetto sulle prestazioni, impostare questo valore su true 
            solo durante lo sviluppo.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<httpRuntime maxRequestLength="10000" executionTimeout="360"/>
		<!--
            La sezione <authentication> consente di configurare 
            la modalità di autenticazione della sicurezza utilizzata da 
            ASP.NET per identificare un utente in ingresso. 
        -->
		<authentication mode="Windows"/>
		<!--
            La sezione <customErrors> consente di configurare 
            l'operazione da eseguire in caso di errore non gestito 
            durante l'esecuzione di una richiesta. In particolare, 
            consente agli sviluppatori di configurare le pagine di errore HTML 
            in modo che vengano visualizzate al posto dell'analisi dello stack dell'errore.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        La sezione system.webServer è richiesta per eseguire ASP.NET AJAX in Internet
        Information Services 7.0. Non è necessaria per la versione precedente di IIS.
    -->
</configuration>
